<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.myapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>MyApp</name>
    <description>My HTML App</description>
    <author email="you@example.com">Shivam</author>

    <!-- Allow all access -->
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />

    <!-- Android Permissions -->
    <platform name="android">
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/uses-permission">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage"/>
        </edit-config>
    </platform>

    <!-- Plugins -->
    <plugin name="cordova-plugin-file" source="npm" />
    <plugin name="cordova-plugin-file-transfer" source="npm" />
    <plugin name="cordova-plugin-advanced-http" source="npm" />
    <plugin name="cordova-plugin-android-permissions" source="npm" />
</widget>
